<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.campusconnect" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SBEvents"
            android:label="@string/title_activity_sbevents" >
        </activity>
        <activity
            android:name=".GameInvite"
            android:label="@string/title_activity_game_invite" >
        </activity>
        <activity
            android:name=".GameEvents"
            android:label="@string/title_activity_game_events" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Campus Connect" >
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".forgot_password"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".TutorRequest"
            android:label="@string/title_activity_tutor_request" >
        </activity>
        <activity
            android:name=".TOptions"
            android:label="@string/title_activity_toptions" >
        </activity>
        <activity
            android:name=".TutorResponse"
            android:label="Response Dialog"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".ratingPopup"
            android:label="Tutor Rating"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".TutorListResponse"
            android:label="@string/title_activity_tutor_list_response" >
        </activity>
        <activity
            android:name=".tutorRequestPopup"
            android:label="Request Tutor Lessons"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".checkTutorResponses"
            android:label="Updates"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>

    </application>

</manifest>
