<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.campusconnect" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.test.campusconnect.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.test.campusconnect.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SBEvents"
            android:label="@string/title_activity_sbevents" >
        </activity>
        <activity
            android:name=".GameInvite"
            android:label="@string/title_activity_game_invite" >
        </activity>
        <activity
            android:name=".GameEvents"
            android:label="@string/title_activity_game_events" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Campus Connect" >
        </activity>
        <activity
            android:name=".ShareCar"
            android:label="Share a Car" />
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".forgot_password"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".TutorRequest"
            android:label="@string/title_activity_tutor_request" >
        </activity>
        <activity
            android:name=".TOptions"
            android:label="@string/title_activity_toptions" >
        </activity>
        <activity
            android:name=".PostList"
            android:label="@string/title_activity_postlist" >
        </activity>
        <activity
            android:name=".TutorResponse"
            android:label="Response Dialog"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".ratingPopup"
            android:label="Tutor Rating"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".TutorListResponse"
            android:label="@string/title_activity_tutor_list_response" >
        </activity>
        <activity
            android:name=".tutorRequestPopup"
            android:label="Request Tutor Lessons"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".checkTutorResponses"
            android:label="Updates"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".ShareCarComments"
            android:label="@string/title_activity_share_car_comments"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.test.campusconnect" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
    </application>

</manifest>
